.results-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // desktop

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // tablet
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr); // phone
  }
}

.vehicle-item {
  text-align: center;

  .details-container {
    border: { 
      bottom: 1px solid #dededeac;
      left: 0.4px solid #dededeac;
      right: 0.4px solid #dededeac
    };
    margin-top: -5px;
    height: 150px;
    padding-bottom: 10px;
    overflow: scroll;
  }

  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    &:hover {
      filter: sepia(100%);
    }
  }

  h2 {
    margin: 18px 0;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding: 3px 5px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      background-color: #333;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  p {
    margin-bottom: 8px;
    font-size: 14px;
    color: #565454;
  }

  .p-description {
    padding-bottom: 5px;
  }
}